# Custom
/tmp/*
/.idea/*
/cronjob/__pycache__/

# CakePHP 3

/vendor/*
/config/app.php

/tmp/cache/models/*
!/tmp/cache/models/empty
/tmp/cache/persistent/*
!/tmp/cache/persistent/empty
/tmp/cache/views/*
!/tmp/cache/views/empty
/tmp/sessions/*
!/tmp/sessions/empty
/tmp/tests/*
!/tmp/tests/empty

/logs/*
!/logs/empty

# CakePHP 2

/app/tmp/*
/app/Config/core.php
/app/Config/database.php
/vendors/*
tmp/debug_kit.sqlite
tmp/cache/persistent/myapp_cake_core_translations.default.en_US
tmp/cache/persistent/myapp_cake_core_translations.debug_kit.en_US
tmp/cache/persistent/myapp_cake_core_translations.cake.en_US
tmp/cache/models/myapp_cake_model_debug_kit_requests
tmp/cache/models/myapp_cake_model_debug_kit_panels
*.en_US
*.en_US
tmp/debug_kit.sqlite
*.sqlite
tmp/cache/models/myapp_cake_model_debug_kit_panels
tmp/cache/models/myapp_cake_model_debug_kit_panels
tmp/cache/models/myapp_cake_model_debug_kit_requests
tmp/cache/persistent/myapp_cake_core_translations.cake.en_US
tmp/cache/persistent/myapp_cake_core_translations.debug_kit.en_US
tmp/cache/persistent/myapp_cake_core_translations.default.en_US
tmp/debug_kit.sqlite
*.sqlite
*.en_US
*.en_US
*.iml
