.btn-info {
    background-color: #9298ec !important;
    border-color: #9298ec !important;
}

.btn-danger {
    background-color: #ED5562 !important;
    border-color: #ED5562 !important;
}
.navbar {
    overflow-y: hidden !important;
}
.accordion-divider {
    border-top: 1px solid lightgray;
    top: 50%;
    bottom: 0;
    margin-left: 15px;
    margin-right: 15px;
}

#breadcrumb-divider {
    padding: 5px;
}

select {
    appearance: auto !important;
}

option {
    font-family: "Open Sans";
}
